.blog_container {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  gap: 1.5rem;

  .blogCard {
    width: 23rem;
    overflow: hidden;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
    transition: all ease-in-out 350ms;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.2);
      transform: translateY(-2%);
    }

    .cardHeader {
      position: relative;

      .blogImg {
        object-fit: cover;
        width: 100%;
      }

      .meta {
        .badge1 {
          position: absolute;
          bottom: 0.5rem;
          left: 0.25rem;
          background: rgba(#000000, 0.6);
          color: white;
          padding: 0.25rem 0.5rem;
        }

        .badge2 {
          position: absolute;
          bottom: 0.5rem;
          right: 0.25rem;
          background: rgba(#000000, 0.6);
          color: white;
          padding: 0.25rem 0.5rem;
        }
      }
    }

    .card_content {
      padding: 0.3rem;

      .blogHeader {
        font-size: 1.6rem;
      }

      .blogPara {
        line-height: 1.3;
      }
    }
  }
}
